

body{
    background-color: #122233;
}

h1{
    color: #d4a03a;
    margin: 25px 0 15px 20px;
    font-size: 45px;
}

p{
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

table{
    width: 98%;
    margin: auto;
    border-collapse: collapse;
}

td{
    width: 25%;
    background-color: #556fa4;
    vertical-align: top;
    padding: 10px;
    color: black;
    font-size: 18px;
    line-height: 1.5;
}

img{
    width: 100%;
    height: 220px;
    display: block;
}